<ion-header>
  <ion-toolbar>
    <ion-title>Registro Estudiante</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Crea tu cuenta</h1>
      <p>comienza un nuevo mundo con Nosotros</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Documento</ion-label>
          <ion-input type="mail"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </div>
    </div>

    <div class="action-button ion-padding">
      <ion-button size="large" class="login-button"> Sign Up </ion-button>
      <p></p>
      <ion-button
        class="signup-button"
        size="large"
        fill="outline"
        routerLink="/ingresar"
      >
        Log in
      </ion-button>
    </div>
  </div>
</ion-content>