<ion-header>
  <ion-toolbar>
    <ion-title>Ingreso</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="../../../assets/student.jpeg" alt=""/>
    <ion-card-header>
      <ion-card-title>¿Quien Eres?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button  fill="none" class="student-button" routerLink="/ingresar">
        Estudiante
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../../assets/admin.jpeg" alt=""/>
    <ion-card-header>
      <ion-card-title>¿Quien Eres?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button  fill="outline" class="admin-button" routerLink="/ingresoAd">
        Administrador
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
