
.student-button{
    --background: #7590d6;
    color: #fff;
    width: 100%;
    font-weight: bold;
}

.admin-button{
    --border-color:#b4b4b4;
    --color: #000000;
    font-weight: bold;
    width: 100%;
}