<ion-header>
    <ion-toolbar>
        <ion-title>Home</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
      <img src="../../assets/undraw/menu.png" alt=""/>
      <ion-card-header>
        <ion-card-subtitle>Conoce tu App</ion-card-subtitle>
        
      </ion-card-header>
      <ion-card-content>
       En el menu de la parte superior encontraras un menu desplegable con el listado de Inicio, Creditos, Ingresar, Registrar
      </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="../../assets/undraw/second.png" alt=""/>
        <ion-card-header>
          <ion-card-subtitle>Ingresa con el Rol que se le asigno</ion-card-subtitle> 
        </ion-card-header>
        <ion-card-content>
         Ingresa con tu cuenta al ser estudiante o Administrador para conocer mas de las funciones de nuestra app
        </ion-card-content>
      </ion-card>

      <ion-card>
      <img src="../../assets/undraw/threed.png" alt=""/>
      <ion-card-header>
        <ion-card-subtitle>Como administrador</ion-card-subtitle> 
      </ion-card-header>
      <ion-card-content>
       Si eres administrador podras editar los campos de tus estudiantes.
      </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="../../assets/undraw/math.png" alt=""/>
        <ion-card-header>
          <ion-card-subtitle>Como estudiante</ion-card-subtitle> 
        </ion-card-header>
        <ion-card-content>
         Si eres estudiante solo podras consultar tu informacion.
        </ion-card-content>
      </ion-card>

  </ion-content>